<h1>Edit an Article</h1>

<%= render partial: 'form' %>

<%= link_to "delete", article_path(@article), method: :delete ,data: {confirm: "Really delete the article?"}
%>
<%= link_to "<< Back to Articles List", articles_path %>
